@import 'grid.css';

html, body, .root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font: 40px Georgia, Arial, SansSerif;
  text-shadow: 1px 1px 1px;
}

/*App*/

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  opacity: 0;
}

.app-visible{
  opacity: 1;
  transition: opacity, .6s;
}

/*Content*/

.content {
  flex: 1 0 auto;
  background: url('/img/contact-background.jpg');
  background-size: 300px;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #2f2e2e;
}

.header__fixed {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.header__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.header__list li {
  position: relative;
  margin-right: 40px;
  color: #f4d5d5;
  cursor: pointer;
}

.header__list li a{
  position: absolute;
  display: none;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border: 1px solid #f4d5d5;
  border-radius: 8px;
  font-family: Garamond;
  font-size: 1.1em;
  text-decoration: none;
}

.header__list li:hover a {
  display: block;
}

.header__list li a.active {
  display: block;
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border: 1px solid #f4d5d5;
  border-radius: 8px;
  font-family: Garamond;
  font-size: 1.1em;
  text-decoration: none;
}

.header__mobile {
  display: flex;
}

.header__menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.header__menu-icon div {
  height: 3px;
  background-color: #fff;
}

.header__title a{
  margin: 0 auto;
  color: #f4d5d5;
  font-family: "Bell MT";
  text-decoration: none;
}

/*mobile-menu*/

.mobile-menu {
  position: absolute;
  transform: scale(0);
  left: 40px;
  top: 53px;
  width: 200px;
  height: 199px;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
  z-index: 102;
}

.folded {
  transform: scale(1);
}

.header__title {
  margin: 0 auto;
  color: #f4d5d5;
  font-family: "Footlight MT Light", Arial, SansSerif;
}

.mobile-menu__list {
  list-style: none;
}

.mobile-menu__list li {
  position: relative;
}

.mobile-menu__list li a {
  display: block;
  width: 100%;
  padding: 7px 10px 7px 43px;
  color: #2f2e2e;
  background-color: #d59e9e;
  text-decoration: none;
  cursor: pointer;
}

.mobile-menu__list li:not(:last-child) {
  border-bottom: 1px solid grey;
}

.mobile-menu__list li:hover a {
  background-color: #2f2e2e;
  color: #f4d5d5;
}

.mobile-menu .fa {
  position: absolute;
  left: 7px;
  top: 3px;
  color: #fff;
  margin-right: 15px;
  font-size: 23px;
}

/*Banner*/

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: #2f2e2e;
  margin-bottom: 60px;
}

.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 30px;
  top: 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  background: url("/img/rome.jpg") no-repeat 50% 80%;
  background-size: cover;
  z-index: 101;
}

.banner__title {
  font-size: 70px;
  font-family: "Footlight MT Light", Arial, SansSerif;
  color: #fff;
  margin-top: 100px;
  text-align: center;
  text-shadow: black 1px 1px;
}

@media only screen and (max-width: 767px) {
  .banner__title {
    font-size: 35px;
  }
}

/*Services*/

.services {
  width: 65%;
  margin: 0 auto 60px;
  padding: 0 40px 40px;
  font: 22px Garamond bold;
  border: 2px solid #2f2e2e;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.33);
}

@media only screen and (max-width: 767px) {
  .services {
    width: 80%;
    font: 14px Garamond bold;
  }
}

/*Directions*/

.directions {
  margin-bottom: 70px;
}

.directions__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.directions__list li {
  position: relative;
  width: 400px;
  height: 250px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 4px;
}

.directions__list img {
  width: 100%;
  height: 100%;
}

.direction {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 222, 222, 0.65);
  cursor: pointer;
  font: 40px Georgia;
  color: royalblue;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s;

}

.directions__list li:hover .direction {
  opacity: 1;
}


@media only screen and (max-width: 767px) {
  .directions__list img {
    width: 400px;
    height: 250px;
  }

  .directions__list li {
    width: 320px;
    height: 220px;
  }
}

/*Advantages*/

.advantages {
  width: 85%;
  margin: 120px auto 100px;
  padding-bottom: 40px;
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(255, 2555, 255, 0.33);}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__list img {
  width: 120px;
  margin-bottom: 20px;
}

.advantages__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  list-style: none;
  border: 2px solid;
  border-radius: 10px;
  font: bold 18px "Bell MT";
}

@media screen and (max-width: 767px) {
  .advantages__list li {
    width: 100px;
    font-size: 15px;
  }

  .advantages__list img {
    width: 50px;
  }
}

/*Contact form*/

.contact-form {
  width: 700px;
  margin: 0 auto 100px;
  padding: 25px;
  background-color: #baceec;
  border-radius: 5px;
}

 h2 {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Bell MT";
}

.contact-form__address-and-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -7px;
}

.contact-form__address {
  padding: 0 20px;
}

.contact-form__address p {
  margin-bottom: 20px;
  font: 18px "Bell MT";
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.contact-form__form input, .contact-form__form textarea {
  width: 250px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font: 16px "Bell MT";
  resize: none;       /*Only to textarea*/
  border: 1px solid grey;
}

.contact-form__form button {
  width: 70px;
  height: 30px;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .contact-form {
    width: 80%;
  }
}

/*Countries*/

.countries {
    padding: 40px 20px;
}

.countries .countries__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.countries .countries__list li {
    position: relative;
    width: 260px;
    height: 130px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px;
}

.countries .countries__list li img {
    width: 100%;
    height: 100%;
}

.countries .countries__list li .countries__name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(251, 222, 222, .7);
    font: 30px "Footlight MT Light";
    color: #2b1859;
    user-select: none;
    opacity: 0;
    transition: opacity, .3s;

    cursor: pointer;
}

.countries .countries__list li:hover .countries__name {
    opacity: 1;
}

/*Country*/

.country {
  width: 70%;
  margin: 50px auto;
  padding: 30px 60px;
  border: 1px solid #2f2e2e;
  border-radius: 10px;
  font: bold 16px Garamond;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.33);
}

.country img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto 30px;
}

.country__back-btn {
  width: 180px;
  margin: 30px auto 0;
  padding: 10px 10px;
  background-color: #2f2e2e;
  border-radius: 5px;
  font-size: 15px;
  color: #f4d5d5;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country .fa {
  font-size: 25px;
  margin-right: 10px;
}

.countries__advertising {
  width: 100%;
  height: 500px;
  padding: 50px 0;
  background: #008aff;
  border: 1px solid #fff;
  font: 40px "";
  text-align: center;
  line-height: 100px;
  color: #f4d5d5;
}

@media only screen and (max-width: 762px) {
  .country {
    font-size: 10px;
    padding: 10px;
  }

  .country__back-btn {
    width: 120px;
    margin: 15px auto 0;
    font-size: 7px;
  }

  .country .fa {
    font-size: 12px;
  }
}

/*Contacts*/

.contacts {
  width: 70%;
  padding: 30px;
  margin: 30px auto;
  border: 1px solid #2f2e2e;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.33);
}

.contacts__map {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: none;
}

/*About*/

.about {
  width: 60%;
  padding: 0 30px 30px;
  margin: 30px auto;
  font: 20px Roboto;
  background-color: rgba(255, 255, 255, 0.33);
  border: 2px solid #2f2e2e;
  border-radius: 10px;
}

/*Anchor*/

.anchor {
  position: fixed;
  bottom: 60px;
  right: 5%;
  width: 80px;
  height: 80px;
  background: url('/img/rocket.png') no-repeat;
  background-size: 80px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  z-index: 107;
}

/*Footer*/

footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #2f2e2e;
  color: #f4d5d5;
  font-family: Garamond;
}




